				</div>

				<div id='sidebars'>
					<aside id='sidebar_news'>
						<h2>NEWS</h2>

						<ul>
							<li>Deadpool Collectibles at Cebu</li>
							<li>Spider-Man New Toys</li>
							<li>Captain America</li>
							<li>Do you want Gundam Toys?</li>
						</ul>
					</aside>

					<?php if(!isset($_SESSION['username'], $_SESSION['firstname'], $_SESSION['lastname'])){ ?>

					<aside id='sidebar_member'>
						<h2>LOG-IN</h2>

						<form action='' method='post'>
							<p>Username: <input type='text' name='username' /> </p>
							<p>Password: <input type='password' name='password' /> </p>
							<input type='hidden' name='login' value='true' />
							<input type='submit' value='Login' /> or
							<a href='/register'>Register?</a>
						</form>
						<?php echo isset($login_message) ? $login_message : ''; ?>
					</aside>

					<?php
						}
					?>
				</div>

				<div class='clear'></div>
			</div>
		</div>

		<footer id='main_footer'>
			<p>Copyright &copy; <a href='#'>hatchu.com</a></p>
		</footer>
	</body>
</html>