*{
	padding: 0;
	margin: 0;
}

#admin_page{
	border-radius: 8px;
	margin: 0px;
	padding: 5px;
	width: 98%;
	float: left;
	background: #fff;
}

#admin_page img{
	box-shadow: 3px 2px 5px #C5D0C1;
	width: 150px;
	height: 120px;
}

#admin_page fieldset{
	margin: 3px 0;
	padding: 5px 10px;
}

#admin_page legend{
	padding: 0px 5px;
}

#admin_page fieldset ul{
	list-style-type: square;
	list-style-position: inside;
}

#admin_page fieldset ul li a{
	text-decoration: none;
	color: #363A42;
}

#admin_page fieldset ul li a:hover{
	color: #A31E39;
}

#changepic, #changepass{
	background: #EFF4F7;
	border-radius: 8px;
	margin-bottom: 5px;
	display: none;
	padding: 5px;
}

#changepass td{
	font-weight: bold;
	color: #3D2117;
}

#changepic .changepic_button{
	border-radius: 3px;
	background: #336699;
	color: #fff;
	padding: 5px;
	border: 0px;
}

#changepass .changepass_button{
	background: #336699;
	border-radius: 3px;
	color: #fff;
	padding: 5px;
	border: 0px;
	width: 160px;
}

#addproducts_table{
	background: #EFF4F7;
	border-collapse: separate;
	border-spacing: 5px;
	border-radius: 8px;
    padding: 8px;
	margin: 10px;
	width: 95%;
}

#addproducts_table tr td{
	padding: 3px 0;
	vertical-align: top;
	color: #3D2117;
}

.addproduct_button{
	background: #336699;
	border-radius: 3px;
	color: #fff;
	padding: 5px;
	border: 0px;
	width: 300px;
}

/* ####################### ADMIN VIEW ####################### */

#view_products{
	border-radius: 8px;
	background: #fff;
	padding: 5px;
	float: left;
	width: 98.5%;
}

#show_marvel_products, #show_dc_products{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	margin: 0px 10px;
	background: #000;
	display: block;
	height: 30px;
	padding: 6px;
	float: left;
	color: #fff;
	width: 80px;
}

#show_marvel_products{
	background: linear-gradient(to top, #950000, #C84127);
}

#show_dc_products{
	background: linear-gradient(to top, #000000, #0776b9);
}

#products_div{
	border-top: 1px ridge #404040;
	margin: 0px 5px;
	float: left;
	width: 99%;
}

#marvel_products{
	border-radius: 6px;
	margin: 10px 0;
	padding: 5px;
	background: #fff;
}

#dc_products{
	display: none;
	border-radius: 6px;
	margin: 10px 0;
	padding: 5px;
}

.each_product{
	text-align: center;
	font-family: 'Tahoma';
	font-weight: bold;
	font-size: 14px;
	float: left;
	margin: 10px;
	padding: 0;
	width: 150px;
	height: 350px;
}

#marvel_products h3, #dc_products h3{
	font-size: 14px;
	color: #144955;
	width: 140px;
	margin: 0;
}

#marvel_products img, #dc_products img{
	border-radius: 7px;
	margin: 5px 0;
	width: 150px;
	height: 280px;
}

.each_product a{
	font-family: 'Helvetica';
	text-decoration: underline;
	color: #206BA4;
}

#hide_changepass_div, #hide_changepic_div, #hide_reports_div, #hide_tp_div{
	display: block;
	width: 45px;
	height: 22.5px;
	background: #3D4048;
	color: #FFF;
	font-weight: 700;
	margin: 3px 0;
	float: right;
	padding: 2px;
	text-align: center;
	text-decoration: none;
	line-height: 22.5px;
	border-radius: 8px;
}

#changepass table{
	border-collapse: separate;
	border-spacing: 8px;
}

.add_more_product, .view_products{
	text-decoration: none;
	text-align: center;
	background: #23B5AF;
	border-radius: 5px;
	display: block;
	padding: 5px 0;
	color: #fff; 
}

#reports, #top_products{
	display: none;
	padding: 5px;
	margin: 8px 2px;
	background: #F7F6F2;
}

#reports h2, #top_products h2{
	color: #3F4D4F;
	font-size: 26px;
	margin: 5px 0;
	text-align: center;
}

#reports table, #top_products table{
	border-collapse: separate;
	border-spacing: 9px;
	text-align: left;
	margin: auto;
	width: 90%;
}

#reports table th, #top_products table th{
	border-bottom: 2px dotted #4D4E24;
	font-weight: bold;
}

#reports .product_name, #top_products .product_name{
	font-weight: 800;
	color: #303030;
}

#reports .product_quantity, #top_products .product_quantity{
	font-weight: bold;
	color: #835322;
}

#reports .amount{
	font-weight: bold;
	color: #E8110F;
}

#reports .date_purchased{
	font-style: italic;
	color: #3A3A3C;
}

#income{
	color: #144955;
	font-size: 35px;
	font-weight: bold;
}

#income .price{
	font-size: 34px;
	color: #F14C38;
}