*{
	font-family: 'Trebuchet MS', 'Freight Sans Bold', 'Lucida grande', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif';
	font-size: 15px;
	margin: 0;
	padding: 0;
}

body{
	background: #F0F0F0;
}

#main_body{
	width: 97%;
	margin: 5px auto;
	padding: 5px;
}

#main_header #logo{
	background: url('../images/logo.png');
	background-size: 100% 100%;
	border-radius: 20px;
	width: 300px;
	height: 110px;
	margin: 0 0 10px 0;
	padding: 5px;
	box-shadow: 2px 5px 5px 1px gray;
}

#navmenu{
	border-radius: 5px;
	background: #404040;
	width: 100%;
	height: 40px;
}

#navmenu ul{
	list-style-type: none;
	font-size: 11pt;
}

#navmenu ul li{
	margin-left: 15px;
	background: #404040;
	position: relative;
	float: left;
	width: 150px;
	height: 40px;
}

#navmenu .sub1 li{
	margin-left: 0;
}

#navmenu ul li a, #navmenu ul li .sub1 li{
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin-top: 1px;
}

.sub1{
	display: none;
	position: absolute;
	top: 40px;
}

#navmenu ul li .active{
	background: #E3493B;
	margin-top: 0px;
}

#navmenu li:hover{
	background: #E3493B;
}

#navmenu ul li:hover .sub1{
	display: block;
}

#main_footer{
	clear: both;
	background: #3d4048;
	width: 100%;
	color: #fff;
}

#main_footer p{
	font-size: 12px;
	text-align: center;
	padding: 5px 0;
}

#main_footer a{
	color: #fff;
	text-decoration: none;
}

.clear{
	clear: both;
}

/* @@@@@@@@@@@@@@@@@@@ MAIN CONTENT * @@@@@@@@@@@@@@@@@@@ */

#main_content{
	margin: 5px 0;
	line-height: 20px;
	font-size: 70%;
	padding: 5px;
	width: 97%;
}

#featured_product{
	padding-right: 7px;
	max-height: 1200px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	width: 70%;
}

#featured_product .product_box{
	border-radius: 8px;
	margin: 15px 0px;
	padding: 5px;
	width: 98%;
	background: #fff;
}

#featured_product header h2{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-family: 'Arial';
	font-size: 21px;
	padding: 10px;
	color: #fff;
	background: #3A3A3C;
}

#featured_product h3{
	margin: 15px 10px;
	font-size: 23px;
	color: #F14C38;
}

#featured_product img{
	box-shadow: 2px 5px 5px 1px gray;
	margin: 7px 10px 7px 7px;
	float: left;
	width: 300px;
	height: 450px;
}

#featured_product p{
	font-size: 14px;
	margin: 8px;
	text-indent: 20px;
	text-align: justify;
	word-wrap: break-word;
	word-spacing: 2px;
}

#featured_product .registration_box{
	border-radius: 8px;
	margin: 5px 0px;
	width: 70%;
	background: #fff;
}

#featured_product .registration_box h3{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding: 10px;
	margin: 0;
	background: #23B5AF;
	color: #fff;
}

/* Tables */

#featured_product .product_table{
	width: 75%;
	padding: 5px;
	margin: 10px 8px;
}

#featured_product .product_table th{
	font: bold 15px 'Verdana';
	background: #4CC3D9;
	padding: 8px 0;
}

#featured_product .product_table .title{
	font-weight: 700;
	font-size: 14px;
}

#featured_product .product_table td{
	border-bottom: 1px ridge #C5D0C1; 
	font-size: 14px;
	padding: 3px 0;
	color: #000;
}

#error{
	color: #E8110F;
}

#success{
	color: #1B6AA5;	
}

/***************************************************/

#featured_product .registration_table{
	width: 95%;
	padding: 5px;
	margin: 10px 8px;
}

#featured_product .registration_table td{
	font-size: 15px;
	padding: 3px 10px;
	color: #000;
}

#featured_product .registration_table input{
	border-radius: 5px;
	padding: 3px;
}

#featured_product .registration_table .register_button{
	text-align: center;
}

#featured_product .registration_table .register_button input{
	padding: 10px 5px;
	font-size: 18px;
	width: 100px;
	color: #303030;
}

/* End of Table */

#sidebars{
	float: left;
	width: 28.5%;
}

#sidebar_news{
	margin-left: 10px;
	background: #fff;
	float: left;
	width: 95%;
}

#sidebar_news h2{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-family: 'Arial';
	font-size: 21px;
	padding: 10px;
	color: #fff;
	background: #3A3A3C;
}

#sidebar_news ul{
	list-style-type: none;
	list-style-position: inside;
}

#sidebar_news ul li{
	margin: 1px 0;
	padding: 5px;
	font-size: 14px;
}

#sidebar_member{
	margin: 25px 0px 10px 10px;
	background: #fff;
	float: left;
	width: 95%;
}

#sidebar_member h2{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-family: 'Arial';
	padding: 10px;
	background: #3A3A3C;
	color: #fff;
	font-size: 21px;
}

#sidebar_member form{
	font-size: 14px;
	padding: 5px;	
}

#sidebar_member form input{
	padding: 3px;
}

#sidebar_member form a{
	text-decoration: none;
	font-family: 'Verdana';
	font-size: 14px;
}

#sidebar_member input{
	margin: 5px;
}

.see_more_link{
	font-family: Tahoma;
	font-weight: bold;
	font-style: italic;
	color: #336699;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 9px;
}
 
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: #F0F0F0;
}
 
::-webkit-scrollbar-thumb {
	background: #274245;
	border-radius: 10px;
}

#view_product{
	border-radius: 6px;
	background: #FFF;
	padding: 8px;
	width: 98%;
}

#view_product ul{
	list-style-type: none;
	margin-right: 10px;
}

#view_product ul li a{
	font-weight: 600;
	margin-right: 20px;
	color: #3D2117;
	float: left;
}

#view_product h2{
	border-top: 1px ridge #C5D0C1;
	border-bottom: 1px ridge #C5D0C1;
	text-align: center;
	color: #363A42;
	margin: 10px 0;
	padding: 10px 0;
	font-size: 26px;
}

#view_product #zoom_product{
	float: left;
	width: 50%;
	margin: 0 9px 0 0;
	max-width: 300px;
	max-height: 450px;
}

#product_info_view{
	background: #FEFEEE;
	border-spacing: 0;
	float: left;
	width: 48%;
}

#product_info_view th {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: #144955;
	color: #FFF;
	padding: 8px 0;
}

#product_info_view #admin_action th{
	border-bottom: 1px dashed #129793;
}

#product_info_view #admin_action th, #product_info_view #admin_action th a{
	text-decoration: none;
	background: none;
	color: #A31E39;
}

 #product_info_view #admin_action th a:hover{
 	color: #D13F31;
 }

#product_info_view .title{
	font-weight: 700;
}

#product_info_view td{
	border-bottom: 1px ridge #C1D3C8;
	padding: 8px 5px;
}

#buy_button img{
	margin: 10px 7px 10px 0;
	box-shadow: none;
	width: 36px;
	height: 29px;
	float: right;
	padding: 0;
}

#buy_button{
	background: linear-gradient(to top, #BAA378, #E49135, #DED29E);
	display: block;
	margin: 10px auto;
	border-radius: 8px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #3D2117;
	line-height: 50px;
	width: 190px;
	height: 50px;
}

#buy_form{
	background: #EFF4F7;
	margin: 10px 0;
	width: 400px;
	display: none;
	border-radius: 7px;
}

#buy_form h1{
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	text-align: center;
	background: #1E3944;
	padding: 10px 0;
	color: #fff;
}

#buy_form table{
	margin: 10px auto;
	border-collapse: separate;
	border-spacing: 10px;
}

#buy_form input{
	border-radius: 7px;
	color: #144955;
	padding: 3px;
	height: 13px;
}

#buy_form table .buy_button{
	background: #336699;
	border-radius: 3px;
	color: #fff;
	padding: 5px;
	border: 0px;
	width: 140px;
	height: 40px;
}

#edit_product{
	width: 100%;
	max-width: 400px;
	background: #EFF4F7;
	border-radius: 8px;
	margin-bottom: 5px;
	display: none;
	padding: 5px;
}

#edit_product h1{
	margin: 15px 10px;
	font-size: 23px;
	color: #F14C38;
}

#edit_product table{
	margin: 10px auto;
	border-collapse: separate;
	border-spacing: 15px;
}

#edit_product .title{
	font-weight: 700;
	color: #274245;
}

#edit_product input[type='text']{
	border: none;
	padding: 3px;
	height: 17px;
}

#edit_product input[type='text']:focus{
	outline: none !important;
}

#edit_product .edit_product_button{
	background: #336699;
	border-radius: 3px;
	padding: 10px 0;
	width: 160px;
	color: #FFF;
	border: 0;
}

#delete_product{
	background: #EFF4F7;
	border-radius: 5px;
	max-width: 350px;
	margin: 10px 0;
	display: none;
	padding: 10px;
	width: 100%;
}

#delete_product h1{
	margin: 8px 5px;
	font-size: 16px;
	color: #F14C38;
}

#delete_product td{
	font-size: 19px;
	color: #144944;
	text-align: center;
}

#delete_product .delete_product_botton {
	background: #336699;
	border-radius: 3px;
	padding: 10px 0;
	width: 160px;
	color: #FFF;
	border: 0;
}

/* #################################################### */

#category_image_div{
	border-bottom: 1px inset #23B5AF;
	margin: 10px 0;
	width: 100%;
	height: 110px;
}

#category_image_div .category_logo{
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 80px;
}

#category_image_div .category_logo img{
	box-shadow: none;
	margin: 0;
	width: 300px;
	height: 100px;
}

#product_category_view{
	border-radius: 6px;
	background: #FFF;
	padding: 8px;
	width: 98%;
}

#product_category_view .each_category_product{
	float: left;
	margin: 10px 10px 0 0;
	text-align: center;
	width: 200px;
	height: 420px;
}

#product_category_view .each_category_product img{
	margin: 0;
	width: 200px;
	height: 300px;
	box-shadow: none;
	padding-bottom: 3px;
}

#product_category_view .each_category_product h4{
	font-size: 13px;
	padding-bottom: 5px;
}

#product_category_view .each_category_product h6{
	color: #999;
	font-size: 80%;
	font-style: italic;
}

#product_category_view .each_category_product .price{
	margin: 0;
	color: #E8110F;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
}

#product_category_view .each_category_product hr{
	background-color: #C59A6F;
    border-color: #C59A6F;
    margin: 3px auto;
	width: 180px;
    border: none;
    height: 1px;
}

#product_category_view .each_category_product a{
	text-decoration: none;
	border-radius: 6px;
	background: #CC0000;
	text-align: center;
	line-height: 40px;
	font-size: 21px;
	display: block;
	margin: 0 auto;
	color: #FFF;
	width: 160px;
	height: 40px;
}

#product_category_view .each_category_product a img{
	float: right;
	margin: 5.5px 15px 0 0;
	width: 29px;
	height: 29px;
}

#contactus_div {
	border-radius: 6px;
	background: #FFF;
	padding: 8px;
	width: 98%;
}

#contactus_div img{
	box-shadow: none;
	width: 130px;
	height: 145px;
}

#contactus_div *{
	color: #0A0A0A;
}